@using Microsoft.AspNetCore.Identity
@model ViewModels.DestDetailsViewModel
@inject SignInManager<GoUser> SignInManager
@{
    ViewData["Title"] = "Create";
}

<main class="mt-3">

    <div>
        @{ var base64 = Convert.ToBase64String(@Model.Image);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <img src="@imgSrc" /> }

        <h4>Level:  @Model.Level</h4>
        <h4>StartDate:  @Model.StartDate</h4>
        <h4>EndDate:  @Model.EndDate</h4>
        <h4>EndDateToJoin:  @Model.EndDateToJoin</h4>
        <div style="margin-left:800px;">
            <h4>This page was created from: <b>@Model.Creator</b></h4>
        </div>
    </div>
    <h6>------------------------------------------------------------------------------------------</h6>
    <div style="margin-left:300px; margin-right:300px;">

        <h3>Name:  @Model.Naame</h3>
        <h5>Description:  @Model.Description</h5>
    </div>
    @if (this.User.Identity.IsAuthenticated)
    {


        <div>
            <h3>
                @{ var base66 = Convert.ToBase64String(@Model.CurrentUser.Image);
                    var imgSrccc = String.Format("data:image/gif;base64,{0}", base66);
                    <img src="@imgSrccc" style="width:70px;height:70px; border-radius:50%" /> } @Model.CurrentUser.FirstName
                </h3>
            </div>

            <h6>------------------------------------------------------------------------------------------</h6>

            <h6>------------------------------------------------------------------------------------------</h6>
            <h4 style="margin-right:800px;">
                These people also do not know anyone in this group, write to them
                and found new friends
            </h4>
            <div>

                @foreach (var item in @Model.ParticipantsNotKnowAnyone)
                {

                    <h4>@item.FirstName</h4>

                    if (@item.Image != null)
                    {
                        <div>
                            @{

                                var base65 = Convert.ToBase64String(@item.Image);
                                var imgSrcc = String.Format("data:image/gif;base64,{0}", base65);
                                <img src="@imgSrcc" style="width:40px;height:40px;">


                            }
                        </div>
                    }
                }
            </div>
            <h4>
                Other people
            </h4>
            <div>

                @foreach (var item in @Model.ParticipantsKnowSomeone)
                {

                    <h4>@item.FirstName</h4>

                    if (@item.Image != null)
                    {
                        <div>
                            @{ var base65 = Convert.ToBase64String(@item.Image);
                                var imgSrcc = String.Format("data:image/gif;base64,{0}", base65);
                                <img src="@imgSrcc" style="width:40px;height:40ph;">

                            }
                        </div>
                    }
                }

            </div>
        }
        else
        {
            var countPeople = @Model.ParticipantsKnowSomeone.Count() + @Model.ParticipantsNotKnowAnyone.Count();
            <h4>@countPeople  people are in this group</h4>
        }

    <h3 style="margin-left:800px;">Comments</h3>
    @if (this.User.Identity.IsAuthenticated)
    {
        <div style="margin-left:800px;">

            <form mothod="post" asp-action="AddComment" asp-controller="Comments" asp-route-id="@Model.Id">
                <div class="form-group ">
                    <label asp-for="@Model.CurrentComment">Add Comment</label>
                    <input asp-for="@Model.CurrentComment" class="form-control" />
                    <span asp-validation-for="@Model.CurrentComment" class="text-danger"></span>
                    <div>
                        <button type="submit" class="btn ">Add</button>
                    </div>
                </div>
            </form>

            <h6>
                ---    ---------------------------------------------------------------------------------
            </h6>
        </div>
    }


    <div style="margin-left:800px;">

        @foreach (var item in @Model.AllComments)
        {

            <h4>@item.Comentator.FirstName</h4>

            if (@item.Comentator.Image != null)
            {
                <div>
                    @{ var base65 = Convert.ToBase64String(@item.Comentator.Image);
                        var imgSrcc = String.Format("data:image/gif;base64,{0}", base65);
                        <img src="@imgSrcc" style="width:40px;height:40px;"><h4>@item.Content</h4>

                    }
                </div>
            }
        }

    </div>
    <div style="margin-right:800px;">
        <h6>----------------------------------------</h6>
        <h3>Stories</h3>
        <h6>----------------------------------------</h6>
        @foreach (var item in @Model.Stories)
        {

            <h4>@item.Title  </h4> <a asp-action="Details" asp-controller="Stories" asp-route-id="@item.Id">Read mor</a>
            <h6>Author: @item.Author</h6>
            <h6>@item.PeopleWhosLikeThis people like this</h6>
        }

    </div>
    @if (this.User.Identity.IsAuthenticated)
    {
        <form method="get" asp-action="Create" asp-controller="Stories" asp-route-id="@Model.Id">
            <div class="text-center">
                <button class="btn chushka-bg-color text-center">Create Story</button>
                <h6>------------------------------------------------------------------------------------------</h6>
            </div>
        </form>
    }

    @if (this.User.Identity.IsAuthenticated)
    {
        <form asp-action="HavePart" asp-controller="Destinations" asp-route-id="@Model.Id">
            <div class="text-center">
                <button class="btn chushka-bg-color text-center">HavePart</button>
                <h6>------------------------------------------------------------------------------------------</h6>
            </div>
        </form>
    }
    else
    {
        <div class="text-center">
            <div class="alert alert-primary" role="alert">
                <button class="btn chushka-bg-color text-center" onclick="myFunction()">HavePart</button>
            </div>
        </div>
    }
    <hr />
    <form asp-action="All" asp-controller="Destinations">
        <div class="text-center">
            <button asp-action="All" asp-controller="Destinations" class="btn chushka-bg-color text-center">Back To All</button>
            <h6>-------------------------------------------------------------------------------------------</h6>
        </div>

    </form>

</main>
