
@using Microsoft.AspNetCore.Identity
@model ViewModels.StoryViewModel
@inject UserManager<GoUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<main class="mt-3">

    <div class="card">
        <h5 class="card-header">@Model.Title</h5>
        <div class="card-body">
            <a class="card-title">Author: @Model.Author</a>
            <p class="card-title">@Model.PeopleWhosLikeThis peole like this</p>
            <p class="card-text">@Model.Content</p>
            <form style="text-align:center !important">
                @*<div class="text-center">*@
                <button asp-action="Details" asp-controller="Destinations" asp-route-id="@Model.DestinationId" class="btn btn-primary">Back</button>
                @*</div>*@
                @if (this.User.Identity.IsAuthenticated)
                {
                    @*<div class="text-center">*@
                    <button asp-action="Like" asp-controller="Stories" asp-route-id="@Model.Id" class="btn btn-primary">Like</button>
                    @*</div>*@
                }
            </form>
        </div>
    </div>
</main>