
@using Microsoft.AspNetCore.Identity
@model ViewModels.ThemDetailsViewModel
@inject UserManager<GoUser> UserManager
@{
    ViewData["Title"] = "Create";
}


<main class="mt-3">
    <div class="card" style="text-align:left; background-color:antiquewhite">
        <p class="card-header">
            Author: @Model.Author ________
            <a style="text-align:end !important" class="card-title">@Model.Date</a>
        </p>
        <div class="card-body">
            <p class="card-title">@Model.Description</p>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div style="align-content:flex-start">
                    <form mothod="post" asp-action="AddComment" asp-controller="Thems" asp-route-themId="@Model.Id">
                        <div class="form-group" style="width: 38rem; text-align:left;">
                            <label asp-for="@Model.CurrentComment"><b>Add Comment</b></label>
                            <textarea asp-for="@Model.CurrentComment" class="form-control"></textarea>
                            <span asp-validation-for="@Model.CurrentComment" class="text-danger"></span>
                            <div style="text-align:end">
                                <button type="submit" class="btn ">Add</button>
                            </div>
                        </div>
                    </form>
                    <form style="text-align:left !important" asp-action="All" asp-controller="Thems">
                        <div>
                            <button class="btn btn-primary">back to all</button>
                        </div>
                    </form>
                </div>
            }
            @foreach (var item in Model.Comments.OrderByDescending(c => c.Date))
            {
                <div>
                    <p class="card-header">
                        Author: @item.Author ________
                        <a style="text-align:end !important" class="card-title">@item.Date</a>
                    </p>
                    <p class="card-title">
                        <a>@item.Content</a>
                    </p>

                </div>
            }
        </div>
    </div>
</main>
