@model System.Collections.Generic.IEnumerable<ViewModels.UsersResultsViewModel>
@{
    ViewData["Title"] = "Photo";
}
<main class="mt-10 mb-5">
    <h1 class="text-center">All Participants</h1>
    <hr class="hr-2 bg-dark" />
    <div>
        <form method="get" asp-action="Details" asp-controller="Courses" asp-route-id="@Model.ToList()[0].CourseId">
            <div>
                <button class=" btn btn-success">Back to course</button>
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th class="col-md-3">Participant</th>
                <th class="col-md-6">Result</th>
            </tr>
        </thead>
        <tbody>
            @{int counter = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>
                        @{ var base65 = Convert.ToBase64String(@item.Participant.Image);
                            var imgSrcc = String.Format("data:image/gif;base64,{0}", base65);
                            <img src="@imgSrcc" style=" text-align:left">
                        }
                        @item.Participant.FirstName
                    </td>
                    <td>
                        @{
                            await Html.RenderPartialAsync("_ResultsPartial", @item);
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>



