@using X.PagedList
@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Identity
@model ViewModels.CourseDetailsViewModel
@inject UserManager<GoUser> UserManager
@{
    ViewData["Title"] = "Create";
}

@{var user = await UserManager.GetUserAsync(this.User);}
<main class="mt-3">

    <div class="card-group">
        <div class="card" style="width: 30rem;">
            @{ var base60 = Convert.ToBase64String(@Model.Image);
                var imgSr = String.Format("data:image/gif;base64,{0}", base60); }
            <img class="card-img-top img-fluid" src="@imgSr" alt="Card image cap">
            <div class="card-body" style="text-align:left">
                <p class="card-title">@Model.Title</p>
                <p class="card-text">@Model.Description</p>
                <a class="card-text">Start date: @Model.StartDate</a>
                <a class="card-text" style="padding-left:70px;">Duration of days: @Model.DurationOfDays</a>
                <a class="card-text" style="padding-left:70px;">Count of hours: @Model.CountOfHours</a>
                <a class="card-text" style="padding-left:70px;">Max count participants: @Model.MaxCountParticipants</a>
                <a class="card-text" style="padding-left:70px;">Free seats: @Model.FreeSeats</a>
                <a class="card-text" style="padding-left:70px;">
                    This course was created from: <b>@Model.Creator.FirstName</b>
                </a>
            </div>
        </div>
    </div>
    @if (this.User.Identity.IsAuthenticated && Model.Participants.FirstOrDefault(x => x.Id == user.Id) != null)
    {
        var userr = Model.Participants.FirstOrDefault(x => x.Id == user.Id);
        if (userr.StatusParticitant == GoGo.Models.Enums.StatusParticitant.Successfully)
        {
            <h6 style="color:green">You are Successfully passed this course!</h6>
        }

    }
    <div class="form-inline" style="justify-content:center; padding-top:20px;">
        @if (this.User.Identity.IsAuthenticated && @Model.Creator.FirstName == user.FirstName)
        {
            <form method="get" asp-action="Delete" asp-controller="Courses" asp-route-id="@Model.Id">
                <div class="text-center " style="padding-bottom:20px; padding-top:20px;">
                    <button class=" btn btn-primary">Delete Course</button>
                </div>
            </form>
        }

        @if (this.User.Identity.IsAuthenticated && @Model.Creator.FirstName == user.FirstName)
        {
            <form method="get" asp-action="Edit" asp-controller="Courses" asp-route-id="@Model.Id">
                <div class="text-center" style="padding-bottom:20px; padding-top:20px;">
                    <button class="btn btn-success">Edit Course</button>
                </div>
            </form>
        }

        @if (this.User.Identity.IsAuthenticated && @Model.Creator.FirstName == user.FirstName && @Model.StartDate.AddDays(@Model.DurationOfDays) < DateTime.Now)
        {
            <form asp-action="AddResults" asp-controller="Courses" asp-route-id="@Model.Id">
                <div class="text-center">
                    <button class="btn btn-danger">Add results</button>
                </div>
            </form>
        }
        @if (this.User.Identity.IsAuthenticated)
        {
            if (Model.FreeSeats > 0 && Model.Participants.FirstOrDefault(x => x.Id == user.Id) == null && DateTime.Now < Model.StartDate)
            {
                <form asp-action="SignIn" asp-controller="Courses" asp-route-id="@Model.Id">
                    <div class="text-center">
                        <button class="btn btn-warning">Have Part</button>
                    </div>
                </form>
            }
        }
        else
        {
            <div class="text-center">
                <div class="alert alert-primary" role="alert">
                    <button class="btn btn-info" onclick="myFunction()">Sign in</button>
                </div>
            </div>
        }
        <hr />
        <form asp-action="All" asp-controller="Courses">
            <div class="text-center">
                <button asp-action="All" asp-controller="Courses" class="btn btn-secondary">Back To All</button>

            </div>
        </form>
    </div>

    <h4 style="padding-top:70px;">Participants</h4>

    <div class="card-group">
        @{ foreach (var item in Model.Participants)
            {
                var base65 = Convert.ToBase64String(item.Image);
                var imgSrcc = String.Format("data:image/gif;base64,{0}", base65);

                <div class="card" style="width: 8rem; height:10rem;">
                    <img class="card-img-top" src="@imgSrcc" alt="Card image cap">
                    <div class="card-body">
                        <a class="card-text">@item.FirstName</a>
                    </div>
                </div>
            } }
    </div>
    <div @*style="padding-left:800px; padding-top:200px;" *@>
        @Html.PagedListPager((IPagedList)Model.Participants, page => Url.Action("Details", new { page }))
    </div>
</main>